{
  "version": 1,
  "producers": [
    {
      "id": "deployment-system",
      "token": "REPLACE_WITH_A_UNIQUE_RANDOM_TOKEN_AT_LEAST_32_CHARACTERS",
      "sources": ["https://deploy.example.com/production"]
    }
  ]
}
